.contact{
    z-index: 3;
    color: black;
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    position: fixed;
    display: flex;
    flex-direction : column;
    align-items: center;
    justify-content: center;
    text-align: left;
    background-color: rgba(0, 0, 0, .5);
    transition: background-color 1s ease-in-out;
}
.contact.hidden{
    max-height: 0px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0);
    transition: max-height 0s 1s;
}
.popup{
    display: flex;
    opacity: 1;
    padding: 2vh;
    background-color: white;
    width: 48vw;
    height: 58vh;
    flex-direction : column;
    align-items: center;
    justify-content: space-evenly;
    transition: opacity 1s ease-in-out;
}
.popup.hidden{
    opacity: 0;
}
.contact-heading{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction : row;
    justify-content: center;
    font-size: 5vh;
    font-weight: 700;
}
.contact-heading > span{
    position: absolute;
}
.exit-button{
    margin-left: auto;
    background: rgba(0,0,0,0);
    width: 4vh;
    height: 4vh;
    border: none;
    cursor: pointer;
}
.exit-button:after{
    position: relative;
    top: -25%;
    font-size: 5vh;
    content: "\00d7";
    
}
.input-name{
    width: 100%;
    display: flex;
    flex-direction : row;
    justify-content: center;
}
.input{
    margin: 1vh;
    width: 100%;
    display: flex;
    flex-direction : column;
    font-size: 2vh;
}
.input > *{
    margin: 1vh;
    
}
.input > input{
    text-align: left;
    height: 4vh;
    font-size: medium;
}
.input > textarea{
    text-align: left;
    height: 20vh;
    resize: none;
}
.send-button{
    width: 6vw;
    height: 4vh;
    background-color: black;
    border: none;
    color: white;
    cursor: pointer;
}
.email-sent{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.email-sent > span{
    color: yellowgreen;
    font-weight: 700;
}
.email-sent > img{
    width: 6vh;
    animation: plane-animation 3s ease-out infinite;
}
@keyframes plane-animation{
    0%{
        transform: translate(0, 0) scale(1) rotateZ(60deg) rotateY(180deg);
    }
    50%{
        transform: translate(12vh, -12vh) scale(.25) rotate(0deg) scaleY(.5) rotateY(180deg);
    }
    100%{
        transform: translate(-10vh, -10vh) scale(.01) rotate(-50deg) rotateY(180deg);
    }
}